{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {# {{ encore_entry_link_tags('dashboard') }} #}
{% endblock %}

{% block title %}Mon profil{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3 align-items-center">
            <div class="col">
                <h3>Vos informations personnelles :</h3>
            </div>
            <div class="col text-right">
                <a href="{{ path('account_edit') }}" class="btn btn-outline-light btn-sm">Modifier mon profil</a>
            </div>
        </div>

        <div class="row text-center mb-3">
            <div class="col-6">
                <div class="card" style="background-color:rgba(0,0,0,0.5);">
                    <div class="card-body">
                    <h5 class="card-title text-light">Nom</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{app.user.lastname}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="background-color:rgba(0,0,0,0.5);">
                    <div class="card-body">
                    <h5 class="card-title text-light">Membre depuis</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{app.user.createdAt|date('d/m/Y')}}</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center mb-3">
            <div class="col-6">
                <div class="card" style="background-color:rgba(0,0,0,0.5);">
                    <div class="card-body">
                    <h5 class="card-title text-light">Prénom</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{app.user.firstname}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="background-color:rgba(0,0,0,0.5);">
                    <div class="card-body">
                    <h5 class="card-title text-light">De quel côté de la Force êtes-vous ?</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{app.user.side ? "Jedi" : "Sith" }}</h6>
                    </div>
                </div>

            </div>
        </div>

        <div class="row text-center mb-3">
            <div class="col-6">
                <div class="card" style="background-color:rgba(0,0,0,0.5);">
                    <div class="card-body">
                    <h5 class="card-title text-light">Email</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{app.user.email}}</h6>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="background-color:rgba(0,0,0,0.5);">
                    <div class="card-body">
                    <h5 class="card-title text-light">Nombre de crédit</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {% if app.user.card %}
                            {{ app.user.card.credits }}<i class="pl-1 fa-1x fab fa-galactic-republic"></i>
                            {% if (app.user.card.credits!=0) %}
                            expire le {{ app.user.card.expireCreditsAt|date('d/m/Y') }}
                            <span data-toggle="tooltip" data-placement="bottom" title="La date de validité de vos crédits se renouvellent après chaque achat de ticket. ">
                                <i class="fas fa-info-circle" ></i>
                            </span>
                            {% endif %}                            
                        {% else %}
                            Vous n'avez pas de carte de fidélité pour le moment.
                        {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        {% if app.user.card %}

            <h3 class="mt-3 mb-3">Votre carte de fidélité :</h3>
            <div class="row">
                <div class="col">
                    <div class="card container-fluid text-center" style="height:250px;width:400px;border-color:gray;border-radius:30px; background-image:url({{ asset("images/card.jpg") }});background-size:cover;">
                        <div style="position: absolute; top:0; bottom:0; left:0; right:0; background-color: rgba(0,0,0,0.2 );border-radius:30px; ">
                            <div class="row">
                                <div class="col">
                                    <p style="font-size:1.2em;" class="m-0 p-0 mt-2 text-center font-weight-bold">Carte de fidélité</p>
                                    <p class="m-0 p-0 mb-4">Laser Wars</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <img src="{{ asset("images/puce.png") }}" alt="Image de la puce" style="width: 50px;float:left;margin-left:10px;">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p style="color:gold;font-size:1.8em" class="mt-5 text-center font-weight-bold text-monospace">{{ app.user.card.serial }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="mt-3 mb-3">Historique des cadeaux :</h3>
            
            {% if app.user.card.giftCards|length > 0 %}
                <table class="table alert alert-light mb-4">
                    <thead>
                        <tr>
                            <th scope="col"><span class="text-primary">#</span></th>
                            <th scope="col"><span class="text-primary">Cadeau</span></th>
                            <th scope="col"><span class="text-primary">Serial</span></th>
                            <th scope="col"><span class="text-primary">Utilisé</span></th>
                            <th scope="col"><span class="text-primary">Date d'expiration</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for gift in app.user.card.giftCards %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ gift.gifts.title }}</td>
                            <td>{{ gift.serial }}</td>
                            <td>{{ gift.used ? "OUI" : "NON"}}</td>
                            <td>{{ gift.expiredAt|date('d/m/Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> 
            {% else %}
            <p>
                Vous n'avez pas de cadeaux pour le moment.
            </p>
            {% endif %}
        {% else %}

            <h3 class="mb-3 mt-5">Vous n'avez pas de carte de fidélité ?</h3>
            <div class="row justify-content-around">
                <div class="col-4 container-fluid text-center">
                    <p>Vous souhaitez ajouter votre carte fidélité</p>
                    <a href="{{ path('card_add') }}" class="btn btn-outline-light">Ajouter</a>.
                </div>
                <div class="col-4 container-fluid text-center">
                    <p>Vous souhaitez créer une carte de fidélité</p>
                    <a href="{{ path('card_create') }}" class="btn btn-outline-light ">Créer</a>       
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {# {{ encore_entry_script_tags('dashboard') }} #}

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock %}