{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col" >
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="{{ asset("images/carousel1.jpg") }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Univers</h5>
                          <p>Venez affronter vos adversaires grâce à votre pistolet laser ! Dans un labyrinthe futuriste plongé dans la pénombre et dans une ambiance sonore délirante, vous aurez besoin de tous vos réflexes pour mener à bien votre mission.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{{ asset("images/carousel2.jpg") }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Description</h5>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{{ asset("images/carousel3.jpg") }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{{ asset("images/carousel4.jpg") }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h3 class="text-center text-light title-home">Nos tarifs</h3>
                <div class="card mt-2 p-3" style="background-color: rgba(0,0,0,0.5);color:white;">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <p class="border-right" style="font-size:1.2rem">1ère partie <span style="font-size:1.5rem">9€</span></p>
                        </div>
                        <div class="col-6">
                            <p style="font-size:0.8rem">Pendant 30 minutes, formez les équipes, enfilez vos tenues, affrontez vous et découvrez votre score et le classement général !</p>
                        </div>
                        <div class="col-2">
                            <a href="#" class="btn btn-outline-light">Acheter</a>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4">
                            <p class="border-right" style="font-size:1.2rem">2ème partie <span style="font-size:1.5rem">7€</span class=""></p>
                        </div>
                        <div class="col-6">
                            <p style="font-size:0.8rem">Economisez 2€ sur votre deuxième partie, consécutive à la première !</p>
                        </div>
                        <div class="col-2">
                            <a href="#" class="btn btn-outline-light">Acheter</a>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-4">
                            <p class="border-right" style="font-size:1.2rem">3ème partie <span style="font-size:1.5rem">3€</span class=""></p>
                        </div>
                        <div class="col-6">
                            <p style="font-size:0.8rem">Economisez 6€ sur votre troisième partie, consécutive aux deux premières !</p>
                        </div>
                        <div class="col-2">
                            <a href="#" class="btn btn-outline-light">Acheter</a>
                        </div>
                    </div> 
                </div>     
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <h3 class="text-center text-light title-home">Wall of frame</h3>

                <div class="row mt-2">   
                    <div class="col-6">
                        <div class="card" style="background-color: rgba(0,0,0,0.5);color:white">
                            <img class="card-img" src="{{ asset('images/podium.png') }}" alt="Podium" width="512px" height="300px">
                        <div class="card-img-overlay">
                            <h4 class="card-title text-center">Solo score</h4>
                        <div class="card-text"></div>
                        </div>
                    </div>
                </div>

            <div class="col-6">
            <div class="card" style="background-color: rgba(0,0,0,0.5);color:white">
            <img class="card-img" src="{{ asset('images/podium.png') }}" alt="Podium" width="512px" height="300px">
            <div class="card-img-overlay">
                <h4 class="card-title text-center">Score groupe</h4>
                <div class="card-text">
                    <ol id="list">
                        <li>Groupe 1</li>
                        <li>Groupe 2</li>
                        <li>Groupe 3</li>
                     </ol>
                
                </div>
            </div>
            </div>
            </div>
    </div>
{% endblock %}
