{% extends 'layout.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mb-3 align-items-center">
            <div class="col mt-3">
                <h3 class="font">Consulter mes réservations</h3>
                <p>Vous trouverez ici tous vos réservations passées ou en cours.</p>
            </div>
            <div class="col text-right">
                <a href="{{ path('booking_create') }}" class="btn btn-outline-light btn-lg">Réserver une partie</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-borderless mb-4 text-center rounded ombre" style="background-color: rgba(0, 0, 0, 0.5);color:white" >
                    <thead>
                        <tr class="text-center" style="font-size:1.2REM;border-bottom:1px solid white;">
                            <th scope="col"><span class="text-light">#</span></th>
                            <th scope="col"><span class="text-light">Date de réservation</span></th>
                            <th scope="col"><span class="text-light">Créneau horaire</span></th>
                            <th scope="col"><span class="text-light">Pseudo</span></th>
                            <th scope="col"><span class="text-light">Score</span></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for booking in pagination.data %}
                        <tr class="text-center">
                            <th scope="row">{{ (pagination.currentPage -1) * pagination.limit + loop.index }}</th>
                            <td>{{ booking.reservationAt|date('d/m/Y') }}</td>
                            <td>{{ booking.timeSlot|date('H') }}h00</td>
                            <td>{{ booking.pseudo }}</td>
                            <td>{{ booking.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if pagination.data|length > 10 %}
                    {{ pagination.display() }}     
                {% endif %}
            </div>
        </div>  
    </div>
{% endblock %}
