{% extends 'base.html.twig' %}

{% block body %}

<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-primary py-0 my-0 align-items-center">
        <div class="container">
            <button class="navbar-toggler order-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars fa-2x text-light"></i></span>
            </button>
            
            <div class="collapse navbar-collapse order-3" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{{ path('presentation') }}" class="btn btn-lg nav-link first btn-2">Présentation</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('price') }}" class="btn btn-lg nav-link btn-1">Nos tarifs</a>
                    </li>
                </ul>
            </div>

            <a class="navbar-brand mx-auto order-1 order-lg-3 mb-2" href="{{ path('home') }}">
                <h1 id="siteTitle">Laserwars</h1>
            </a>

            <div class="collapse navbar-collapse order-4" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('booking_create') }}" class="nav-link btn btn-lg first btn-3">Réserver</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle btn p-1 btn-4" data-toggle="dropdown" id="accountDropdownLink">
                            {% if app.user.avatar %}
                                <img src="{{ asset('images/avatar/'~ app.user.avatar.picture) }}" alt="{{ app.user.avatar.title }}" style="width: 35px; height:35px;">
                            {% endif %}
                            {{ app.user.fullname }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right border-white mt-3" aria-labelledby="accountDropdownLink" style="border:2px solid;background-color:darkred;">
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('easyadmin') }}" class="dropdown-item">
                                <i class="fas fa-lock mr-2"></i>Admin
                            </a>
                            <div class="dropdown-divider"></div>
                            {% endif %}
                            <a href="{{path('account_show')}}" class="dropdown-item">
                                <i class="fas fa-user mr-2"></i>
                                Mon compte
                            </a>
                            <a href="{{path('new_password')}}" class="dropdown-item">
                                <i class="fas fa-key mr-2"></i>
                                Modification de mot de passe
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('booking_show') }}" class="dropdown-item">
                                <i class="fas fa-history mr-2"></i>
                                Mes réservations
                            </a>
                            <a href="{{ path('ticket_show') }} " class="dropdown-item">
                                <i class="fas fa-ticket-alt mr-2"></i>
                                Mes tickets
                            </a>
                            <a href="{{path('shop_show')}}" class="dropdown-item">
                                <i class="fas fa-gift mr-2"></i>
                                Boutique
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="{{path('logout')}}" class="dropdown-item">
                                <i class="fas fa-arrow-circle-left mr-2"></i>
                                Déconnexion
                            </a>
                        </div>
                    </li>
                    {% else %}     
                    <li class="nav-item">
                        <a href="{{path('register')}}" class="nav-link btn btn-lg first btn-3">Inscription</a>
                    </li>       
                    <li class="nav-item">
                        <a href="{{path('login')}}" class="nav-link btn btn-lg btn-4" data-toggle="modal" data-target="#login">Connexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Modal de connexion -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color:rgba(0,0,0,0.8);">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Connexion à votre compte</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <!-- Formulaire de connexion -->
                <div class="modal-body">
                    <form method="post" action="{{ path('login') }}">
                        <div class="md-form">
                            <label for="inputEmail">E-mail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                                </div>
                                <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
                            </div>
                        </div>
                        <div class="md-form mt-3">
                            <label for="inputPassword">Mot de passe</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-lock"></i></div>
                                </div>
                                <input type="password" name="password" id="inputPassword" class="form-control" required>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        <div class="row">
                            <div class="col mx-3">
                                <button class="btn btn-outline-light btn-block" data-target="#login">Se connecter</button>
                            </div>
                            <div class="col mx-3">
                                <a href="{{ path('forget_password') }}" class="btn btn-outline-light btn-block">Mot de passe oublié</a> 
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<main style="flex:1">
    {% for label, messages in  app.flashes  %}
        <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message | raw }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
</main>

<footer class="mt-5" style="background-color: rgba(0,0,0,0.5);">
    <div class="container pt-2">
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-12 col-md-4 mb-sm-2 text-center">
                <img class="img-fluid" src="{{ asset('images/saber-luke.png') }}" alt="Sabre de luke" style="opacity:0.7;">
            </div>
            <div class="col-sm-12 col-md-2 text-center">
                <h5 class="font">Laser wars</h5>
            </div>
            <div class="col-sm-12 col-md-4 text-center">
                <img class="img-fluid" style="margin-top:4px;opacity:0.7;" src="{{ asset('images/saber-vador.png') }}" alt="Sabre de luke">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row pt-3">
                    <div class="col-4">
                        <ul class="list-group text-center" style="list-style:none;">
                            <li><a href="{{path("presentation")}}" style=" color:white">Présentation</a></li>
                            <li><a href="{{path("price")}}" style=" color:white">Nos tarifs</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul class="list-group text-center" style="list-style:none;">
                            <li><a href="{{path("mentionlegal")}}" style=" color:white">Mentions légales</a></li>
                            <li><a href="{{path("faq")}}" style=" color:white">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul class="list-group text-center" style="list-style:none;">
                            <li><a href="{{ path('contact') }}" style=" color:white"><i class="fas fa-envelope mr-2"></i>Nous contacter</a></li>
                            <li><a href="#" style=" color:white"><i class="fab fa-facebook mr-2"></i>Facebook</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center text-light mt-3" style="padding:0;margin-bottom:0;font-size: 0.8em;">Copyright {{ "now"|date('Y')}} LaserWars - Tous droits réservés</p>
        <p class="text-center text-light" style="padding:0;margin:0;font-size: 0.8em;">Fait avec <i class="fas fa-heart" style="color:red"></i> par Shamsia et Pierre</p>
    </div>
</footer>
{% endblock %}
